.hextra-feature-card {
  margin-top: 35px;
  margin-bottom: 20px;
}

.sidebar-container {
    width: 22rem;
    max-width: 330px;
}

.hextra-toc {
    width: 22rem;
    max-width: 330px;
    margin-right: 10px;
}

.content :where(img):not(:where([class~=not-prose], [class~=not-prose] *)) {
  margin-left: 0 !important;
  margin-right: auto !important;
}