.hextra-feature-card {
  margin-top: 35px;
  margin-bottom: 20px;
}

.sidebar-container {
    width: 22rem;
    max-width: 330px;
}

.hextra-toc {
    width: 22rem;
    max-width: 330px;
    margin-right: 10px;
}